<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463542419736-6vutebbfkb30rnihedif6rk7ivgdjhfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463542419736-6vutebbfkb30rnihedif6rk7ivgdjhfk</string>
	<key>API_KEY</key>
	<string>AIzaSyDFIiUBrAPFGneb17gKO89Rg8kQzTt2shA</string>
	<key>GCM_SENDER_ID</key>
	<string>463542419736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g1221438.FeedbackAnalysis</string>
	<key>PROJECT_ID</key>
	<string>project-feedback-analysis</string>
	<key>STORAGE_BUCKET</key>
	<string>project-feedback-analysis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463542419736:ios:2c65faf13bca1303</string>
	<key>DATABASE_URL</key>
	<string>https://project-feedback-analysis.firebaseio.com</string>
</dict>
</plist>